{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<aside>
		<img src="{% static 'img/logo.png' %}" alt="Лого">
		<span class="logo">Online Questionnaire</span>
		<h3>Разделы</h3>
		<ul>
			<a href='{%  url "home" %}'><li><i class="far fa-newspaper"></i>Главная</li></a>
			<a href='{%  url "quests" %}'><li><i class="far fa-question-circle"></i>Активные опросы</li></a>
			<a href='{%  url "storage" %}'><li><i class="far fa-question-circle"></i>Журнал</li></a>
		</ul>
	</aside>
	<main>
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>