{% extends 'layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
	<div class='features'>
		<h1>Главная страница</h1>
		<p>Этот сайт демонстрирует работу API для опроса пользователей. В боковом меню можно получить список активных опросов. Прохождение опроса: опросы можно проходить анонимно, в качестве идентификатора пользователя в API передаётся числовой ID, по которому сохраняются ответы пользователя на вопросы; один пользователь может участвовать в любом количестве опросов</p>
	</div>
{% endblock %}